h1 {
    text-align: center;
}

form {
    text-align: center;
}

.responsivediv {
    width: auto;
    height: 230px;
    overflow: auto;
    margin-bottom: 3px;
    padding-left: 0.5em;
    border: 1px solid #AAAAAA;
    -moz-border-radius-topleft: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}