<!DOCTYPE html>
<html>
<head>
	<title>temp_app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
	<div class="w3-container w3-display-middle">
		<div class="w3-panel w3-card" style="height: fit-content;">
			<h1>Wiki Finder</h1><br>
			<form id="input-form" method="post" action="/">
				<input type="text" name="wiki" style="width: 300px;" placeholder="Wiki Name"/><br>
				<input type="text" name="subject" style="width: 300px" placeholder="Subject Name (optional)"/><br><br>
				<input id="submitbutton" type="submit" name="submitbutton" value="Show results" style="margin: 20px"/>
			</form>
			<div id='info_section'>
				<h2>Search results:</h2>
				{% for list in search_data %}
					{% for data in list %}
						<button type="button" class="collapsible"> {{data['title']}}</button>
						<iframe class="content" src={{data['url']}} height="500" width="90%"></iframe>
					{% endfor %}
				{% endfor %}
				<br>
				<h2>Related wikis:</h2>
				{% for data in data %}
					<button type="button" class="collapsible">{{data['title']}}</button>
					<iframe class="content" src={{data['url']}} height="500" width="90%"></iframe>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		if (content.style.display === "block") {
			content.style.display = "none";
		} else {
			content.style.display = "block";
		}
	});
	}
</script>
</html>

{# 
<h3> Title: {{data['title']}} <br> Contents: {{data['headlines']}} <br> URL: <a href={{data['url']}}>{{data['url']}} </a></h3>
						{% for content in data['headlines'] %}
						<p><b>{{content}}:</b> <br> {{data['body'][content]|safe}} </p>
						{% endfor %}
#}