<!DOCTYPE html>
<html>
<head>
	<title>temp_app</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
	<div class="w3-container w3-display-middle">
		<div class="w3-panel w3-card" style="height: fit-content;">
			<h1>Wiki Finder</h1><br>
			<form id="input-form" method="post" action="/">
				<input type="text" name="wiki" style="width: 300px;" placeholder="Wiki Name"/><br>
				<input type="text" name="subject" style="width: 300px" placeholder="Subject Name (optional)"/><br><br>
				<input id="submitbutton" type="submit" name="submitbutton" value="Show results" style="margin: 20px"/>
			</form>
			<div id='info_section'>
				{% for list in search_data %}
					{% for data in list %}
						<h3> Title: {{data['title']}} <br> Contents: {{data['headlines']}} <br> URL: {{data['url']}}</h3>
						{% for content in data['headlines'] %}
						<p><b>{{content}}:</b> <br> {{data['body'][content]|safe}} </p>
						{% endfor %}
					{% endfor %}
				{% endfor %}
				<br>
				{% for data in data %}
					<p>{{data['url']}}</p>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>